.background {
    -fx-background-image: url("../images/background.jpg");

}

.darkOverlay {
    -fx-background-color:  rgba(0, 0, 0,0.3);
    -fx-background-size: 100%;
}

.editorBg {

    -fx-background-color:  rgba(0, 0, 0,0.6);
}

.roundedBorder {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.redOverlay {
    -fx-background-color:  rgba(143, 1, 51,0.4);
}

.headingLabel1 {
    -fx-font-size: 58px;
    -fx-text-fill: #ffffff;
}

.headingLabel2 {
    -fx-font-size: 36px;
    -fx-text-fill: #ffffff;
}

.headingLabel3 {
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}


.paragraph {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
}

.textField {
    -fx-font-size: 16px;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-insets: 0, 0 0 1 0 ;

}

.textField:focused {
    -fx-border-width: 2.8;
}

.button1{
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-background-color: rgb(214, 6, 77);
}

.button2{
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-text-fill: rgb(214, 6, 77);
    -fx-background-color: rgb(252, 221, 237);
}
.button3{
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.button4{
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-background-color: rgba(214, 6, 77,0.25);
}

.button5{
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-background-color: rgba(214, 6, 77,0.6);
}

.jfx-rippler {
    -jfx-rippler-fill: rgb(252, 221, 237);
}

.tab-header-background{
    -fx-background-color: transparent;
}

.tab-selected-line{
     -fx-background-color: white;
}

.tab .tab-label
{
    -fx-font-size: 20px;
    -fx-text-fill: #828282;
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.tab:selected .tab-label{
    -fx-text-fill: #ffffff;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .list-cell:hover {
    -fx-background-color: rgba(255,255,255,0.1);
}

.list-view .list-cell:selected {
    -fx-background-color: rgba(255,255,255,0.2);
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255,255,255,.5);
    -fx-background-radius: 0em;
}

.scroll-pane > .viewport,.scroll-pane > .corner  {
    -fx-background-color: transparent;
}

.menu-bar {
    -fx-background-color: transparent ;
}

.menu-bar .label {
    -fx-text-fill: white;
    -fx-padding: 5.0px;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-text-fill: white;
     -fx-background: rgb(214, 6, 77);
}

.menu-item {
    -fx-text-fill: rgb(214, 6, 77);
}

.menu-item .label{
    -fx-text-fill: white;
}

.menu-item:hover, .menu-item:focused{
    -fx-background: rgb(214, 6, 77);
}

.context-menu {
    -fx-background-color: rgba(0,0,0,0.8);
}

.styled-text-area {
    -fx-fill: white;
    -fx-background-color: rgba(255,255,255,0.1);
}

.styled-text-area .text {
    -fx-fill: white;
}

.styled-text-area .selection {
    -fx-text-fill: white;
    -fx-fill: rgb(214, 6, 77);
}

.styled-text-area:read-only {

}

.lineno {
    -fx-text-fill: white;
    -fx-background-color: rgb(54, 0, 19);
}