.styled-text-area .keyword { -fx-fill: red; -fx-font-weight: bold;}
.styled-text-area .symbol { -fx-fill: red; -fx-font-weight: bold;}
.styled-text-area .bracket { -fx-fill: blue; -fx-font-weight: bold;}
.styled-text-area .parenthesis { -fx-fill: blue; -fx-font-weight: bold;}
.styled-text-area .brace { -fx-fill: blue; -fx-font-weight: bold;}
.styled-text-area .quotes {-fx-fill: green;}

